$color_lightgrey:  #FCFCFC; 
$color_red: #AB0433;
$color_white: #FFFFFF;
$color_black: #000000;
$header_bg: #09101E;
$lightorange: #FB8351;
$lightblue: #5BD0F4;
$blue:#3A68B8;
$main_bg: #020A18;
$card_bg: #0F1724;
